/* styles/styles.css */

.ytruth-indicator {
    display: inline-block;
    padding: 2px 6px;
    margin-left: 5px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: #bdc3c7; /* Default background */
}

.ytruth-indicator:hover {
    opacity: 0.8;
}

.ytruth-political {
  background-color: #f44336; /* Red for political */
}

.ytruth-factuality-high {
  background-color: #4caf50; /* Green for high factuality */
}
